<h1>Projeto</h1>

<p>
    Escolha uma das ações a seguir:
    <ul>
        <li><%= link_to "Cadastro de Profissional", new_profissional_path %></li>
        <li><%= link_to "Cadastro de Empresa", new_empresa_path %></li>
        <li><%= link_to "Cadastro de Projeto", new_projeto_path %></li>
    </ul>
</p>