<h1>Projeto</h1>

<p>
    Escolha uma das ações a seguir:
    <ul>
        <li><%= link_to "Cadastro de profissional", new_profissional_path %></li>
        <li><%= link_to "Cadastro de projeto", new_projeto_path %></li>
    </ul>
</p>