<nav>
    <ul>
        <li><%= link_to "Cad Empresas", new_empresa_path %></li>
        <li><%= link_to "Cad Projetos", new_projeto_path %></li>
        <li><%= link_to "Meu perfil", profissional_path(profissional_da_sessao) %></li>
        <li><%= link_to "Sair", profissional_sessions_path, :method => :delete %></li>
    </ul>
</nav>