<nav>
    <ul>
        <li><%= link_to "Projetos", projetos_path %></li>
        <li><%= link_to "Cadastro", new_profissional_path %></li>
        <li><%= link_to "Login", new_profissional_sessions_path %></li>
    </ul>
</nav>